@import "moode.min.css.clean";

/*

 https://mydevice.io

                  dia     jsres*      dpr   dpi
 Samsung S9    |         740x320      3.0   288
 Samsung Tab A | 10.5"   1280x720     1.5   144
 PC Monitor    |  24"    1920x1200    1.0    96

  *native resolution is larger, see the dpr 
*/

/* phone portrait ~4 col(*/
@media (min-width:320px) and (max-width:470px) and (min-resolution: 180dpi){	
	html, body{
		--thumbcols:23vw;
	}
}

/* phone landscape ~5 col*/
/*
@media (min-width:480px) and (min-resolution: 180dpi) {	
	html, body{
		--thumbcols:19vw;
	}
}
*/

/* tablet landscape with large screen (*/
@media (min-width:720px) and (max-resolution: 150dpi) {	
	html, body{
		--thumbcols:18.5vw;
	}
}

/* tablet portrait with large screen (*/
@media (min-width:1280px) and (max-resolution: 150dpi) {	
	html, body{
		--thumbcols:13.6vw;
	}
}

/* pc screen fullhd  ~9 cols */
@media (min-width:1920px) and (max-resolution: 130dpi) {	
	html, body{
        --thumbcols:10.6vw;
    };
    /*
    
     #albumcovers lib-entry,.database-radio.lib-entry{
        font-size:0.45em;
    };
    
    #lib-content.li {
        line-height: 0.9em;
    };
    */
}

/* pc screen fullhd+ ~12 cols */
@media (min-width:1921px) and (max-resolution: 130dpi) {	
	html, body{
		--thumbcols:8vw;
	}
}
